<!-- <app-prova></app-prova>

<app-navbar></app-navbar> -->

<!-- <app-bottone></app-bottone> -->

<!-- <app-evento></app-evento> -->

<!-- <app-title></app-title>
<app-direttive></app-direttive> -->


<!-- <app-parent-child [data]="persone" (mandaDatiEvento)="onRiceviDati($event)"></app-parent-child>

<button (click)="onClick()">Change</button> -->


<!-- hard code -->
<!-- <input value="ciao"> -->

<!-- Il calore viene da app.component.ts -->
<!-- <input [value]= "value"> -->
<!-- <input [(ngModel)]= "value"> -->

<!-- se invece voglio ottenere il valore con un click -->
<input #inputSaluti value="ciao">
<button (click)="onClick()">Stampa Contenuto</button>
